.idea/
.vscode/
node_modules/
tests/wp-test-core/
tests/wp-test-lib/

# Vendors that are required in runtime.
vendor/*
!vendor/autoload.php
!vendor/bojaghi
!vendor/composer
!vendor/monolog
!vendor/psr

*.cache
*.html
.DS_Store
